application-template/
studio/

# Copy of .gitignore:
not-for-distribution
utility/Docker/utility

.idea/*

/node_modules/*
hdb/*
logs/*
!logs/README.md
.nyc_output/*
.vscode/*
/bin/coverage/*
coverage/*
hdb_boot_properties.file
*test_export.json.json
/unitTests/envDir/*
/unitTests/apiTests/envDir/*
/unitTests/testApp/node_modules/*
/unitTests/server/nats/tempTestDir/*
/unitTests/security/jsLoader/fixtures/*
coverage.json
unitTests/server/nats/tempTestDir/*
dependencies/*
!dependencies/nats-server.zip
yarn.lock
yarn-error.log
package-lock.json
ts-build
*-v8.log

/npm_pack/*
*.jsc
*.cpuprofile
*.heapsnapshot

harperdb-*.tgz
utility/Docker/licenses/**
license-output.md

.DS_Store
