## New GitIgnore Rules
## Keeping old ones for now so we don't accidentally start tracking something we were previously ignoring

# OS Files
.DS_Store

# IDE Files
.vscode/
.idea/

# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-shrinkwrap.json

# Test Outputs
coverage
*.lcov
.nyc_output/
/unitTests/envDir
/unitTests/apiTests/envDir
/unitTests/testApp/node_modules
unitTests/server/fastifyRoutes/custom_functions

# TypeScript
*.tsbuildinfo

# Build Output
dist/

# Environment Variables
.env
.env.*
!.env.example

# something is generating this file :shrug:
integration-test.json

# Repo synchronization temp file
commits-to-pick.txt

# npm run package Outputs
harperfast-harper-*.tgz
harper-*.tgz