not-for-distribution
utility/Docker/utility
studio

.idea/*

/node_modules/*
hdb/*
logs/*
!logs/README.md
.nyc_output/*
.vscode/*
/bin/coverage/*
coverage/*
hdb_boot_properties.file
integrationTests/apiTests/.env
/bin/integration-test.json
*test_export.json.json
/unitTests/envDir/*
/unitTests/apiTests/envDir/*
/unitTests/server/replication/envDir/*
/unitTests/testApp/node_modules/*
/unitTests/server/nats/tempTestDir/*
/bin/unit-test/keys/*
coverage.json
unitTests/server/nats/tempTestDir/*
dependencies/*
!dependencies/nats-server.zip
yarn.lock
yarn-error.log
package-lock.json
pnpm-lock.yaml
ts-build
*-v8.log

/npm_pack/*
*.jsc
*.cpuprofile
*.heapsnapshot

harperdb-*.tgz
utility/Docker/licenses/**
license-output.md

.DS_Store
integrationTests/apiTests/package.json
